[submodule "cda.webhooks"]
	path = cda.webhooks
	url = https://github.com/cdaprod/cda.webhooks.git

[submodule "cda.data-lake"]
	path = cda.data-lake
	url = https://github.com/cdaprod/cda.data-lake.git

